<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'addmovie.css' %}">
    <title>hello</title>
</head>
<body>
<div id="background">
    <nav>
        <div>
            <a href="{% url 'home' %}">Movie<span class="red">hub</span></a>
        </div>
    </nav>
    <form method="POST" action="">
        <h1>Add movie</h1>
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{field}}
            </div>
        {% endfor %}
        <div class="input">
            <input class="addmove_button" type="submit" value="Enter" />
        </div>
    </form>
</div>
</body>
</html>