<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>Welcome</title>
</head>
<body>
    <div id="intro">
        <nav>
            <button>MOVIES</button>
            <button>COMING NEXT</button>
            <button>CINEMAS</button>
            <button>EVENTS</button>
            <button>GIFTS & PROMOTIONS</button>
            <button>B2B</button>
            <button>CONTACT</button>

        {% if request.user.is_authenticated %}
            <a href="{% url 'addmovie' %}">
                <button type="button">ADD MOVIE</button>
            </a>
            <a href="{% url 'signout' %}"><button class="Log">LOGOUT</button></a>
        {% else %}
            <a href="{% url 'signin' %}"><button class="Log">LOGIN</button></a>
        {% endif %}
             
        </nav>
        <div id="info">
            <div id="company-name">Movie<span class="red">Hub</span> booking movie tickets</div>
            <button type="button"  onClick="document.getElementById('movie-section').scrollIntoView();">BOOK NOW</button>
            <div id="launch-date">
                NOVEMBER 28, 2022 <br> MOVIEHUB
            </div>
        </div>
    </div>





    <div id="movie-section">
        <div class="slider">
            <button id="back" onclick="slideBack()"></button>
            <button id="front" onclick="slideFront()"></button>
            {% for movie in movies %}
                    <a href="{% url 'moviepage' movie.id  %}" class="movie-div">
                        <!-- <img src="{{movie.imgurl}}" alt="Movie Picture"> -->
                        <div style="background-image: url('{{movie.imgurl}}');"></div>
                        <div id="title">{{ movie.title|title }}</div>
                        <div>{{movie.genre|title}}</div>
                        <div>{{movie.numofmin}}</div>
                    </a>
            {% endfor %}
        </div>
    </div>

</body>
<script>
    let elements = document.getElementsByClassName('movie-div');
    
    function slideFront() 
    {
        for(let i = 0; i < elements.length; i++)
        {
            if(isInViewport(elements[elements.length - 1]))
            {
                break;
            };
           elements[i].style.transform += 'translateX(-20vw)';
        };

    };

    function slideBack() 
    {
        for(let i = 0; i < elements.length; i++)
        {
            if(isInViewport(elements[0]))
            {
                break;
            }
           elements[i].style.transform += 'translateX(20vw)';
        };

    };

    function isInViewport(element) {
        const rect = element.getBoundingClientRect();
        return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
            rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
    }
</script>

</html>

