<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'moviepage.css' %}">
    <title>{{movie.title|title}</title>
</head>
<body>

    <section id="A" style="background-image: url('{{movie.imgurl2}}');">
        <div class="movie">
            <p>{{movie.title}}</p>

            {% if seats != 0 %}
            <a href="{% url 'bookmovie' movie.id  %}">
                <button type="button">Book Movie</button>
            </a>
            {% else %}
            <a href="#">
                <button type="button">Movie Full</button>
            </a>
            {% endif %}

            {% if seats != 0 %}
            <div>{{movie.numofseats}} seats in total. {{seats}} left.</div>
            {% else %}
            <div>{{movie.numofseats}} seats in total .Movie fully booked</div>
            {% endif %}

        </div>
    </section>

    <section id="B">
        <div style="background-image: url('{{movie.imgurl}}');"></div>
        <div id="information">
            <p class="subtitle">GENRE</p>
            <p>{{movie.genre}}</p>
            <p class="subtitle">SUMMARY</p>
            <div>{{movie.description}}</div>
        </div>
    </section>




<a href="{{request.META.HTTP_REFERER}}">Go back</a>

</body>
</html>